// grid.scss

.row {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  // .row > .col-1-of-2
  padding: 10rem;  // Dodany padding dla lepszej organizacji przestrzeni
}
.col-1-of-4 {
  flex: 1 1 22%; /* 4 boxes in a row */
  max-width: 22%;
  box-sizing: border-box;
  
}
.col-1-of-2 {
  // margin-left: 5rem;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  box-sizing: border-box;

  .composition {
    display: flex;
    gap: 1rem; // Odstępy między zdjęciami
    justify-content: center;
    align-items: center;

    .composition__photo {
      flex: 1;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
