.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem; /* Domyślny rozmiar czcionki, jak wcześniej ustaliliśmy */
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /* Cień czarny z przezroczystością */

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2); /* Cień czarny z przezroczystością */
    }

    &--white {
        background-color: #ffffff; /* Białe tło dla przycisku */
        color: #7f8c8d; /* Ciemnoszary kolor tekstu */

        &::after {
            background-color: #ffffff; /* Białe tło dla pseudoelementu */
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--aminated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem; /* Domyślny rozmiar czcionki */
        color: #3498db; /* Jasnoniebieski kolor dla $color-primary */
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #3498db; /* Podkreślenie z jasnoniebieskim kolorem */
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: #3498db; /* Jasnoniebieski kolor tła */
        color: #ffffff; /* Biały kolor tekstu */
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15); /* Cień czarny z przezroczystością */
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); /* Cień czarny z przezroczystością */
        transform: translateY(0);
    }
}
